.movieItem{
    width: 80%;
    margin-top: 2%;
    display: flex;
    justify-content: start;
    align-items: start;
}

.poster_{
    width: 150px ;
}

.moviecontent{
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    min-width:  50%;
}

.overview{
    font-size: medium;
    color: gainsboro;
    font-weight: 300;
}

.h6{
    color: gainsboro;
    font-weight: 300;
}

.imdb{
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}

.imdb img{
    width: 40px;
    margin-right: 1%;
}

.buttons{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.p , .t{
    padding: 7px 25px;
    cursor: pointer;
    border-radius: 50px;
    border: transparent;
    white-space: nowrap; /* Prevent text wrapping */
}


.p{
    background-color: red;
    color: white;
}

@media (min-width: 280px) and (max-width: 320px){
    .poster_{
        width: 90px ;
    }
    .overview{
        font-size: small;
    }
    .moviecontent{
        min-width: 80%;
    }
    .imdb{
        font-size: x-small;
    }
    .imdb img{
        width: 20px;
        margin-right: 1%;
    }
    .p , .t{
        padding:3px 12px;
        cursor: pointer;
        border-radius: 50px;
        border: transparent;
        font-size: x-small;
        margin-left: 3%;
    }
    .h6{
        font-size: small;
    }
}


@media (min-width: 320px) and (max-width: 450px){
    .poster_{
        width: 90px ;
    }
    .overview{
        font-size: small;
    }
    .moviecontent{
        min-width: 80%;
    }
    .imdb{
        font-size: x-small;
    }
    .imdb img{
        width: 20px;
        margin-right: 1%;
    }
    .p , .t{
        padding:5px 18px;
        cursor: pointer;
        border-radius: 50px;
        border: transparent;
        font-size: x-small;
        margin-left: 3%;
    }
    .h6{
        font-size: small;
    }
}

@media (min-width: 450px) and (max-width: 600px){
    .poster_{
        width: 105px ;
    }
    .overview{
        font-size: small;
    }
    .moviecontent{
        min-width: 80%;
    }
    .imdb{
        font-size: small;
    }
    .imdb img{
        width: 25px;
        margin-right: 1%;
    }
    .p , .t{
        padding:5px 18px;
        cursor: pointer;
        border-radius: 50px;
        border: transparent;
        font-size: x-small;
        margin-left: 3%;
    }
    .h6{
        font-size: small;
    }
}


@media (min-width: 600px) and (max-width: 700px){
    .poster_{
        width: 120px ;
    }
    .overview{
        font-size: small;
    }
    .moviecontent{
        min-width: 80%;
    }
    .imdb{
        font-size: small;
    }
    .imdb img{
        width: 25px;
        margin-right: 1%;
    }
    .p , .t{
        padding:6px 20px;
        cursor: pointer;
        border-radius: 50px;
        border: transparent;
        font-size: x-small;
        margin-left: 3%;
    }
    .h6{
        font-size: small;
    }
}

@media (min-width: 700px) and (max-width: 900px){
    .poster_{
        width: 130px ;
    }
    .overview{
        font-size: medium;
    }
    .moviecontent{
        min-width: 75%;
    }
    .imdb{
        font-size: small;
    }
    .imdb img{
        width: 25px;
        margin-right: 1%;
    }
    .p , .t{
        padding:6px 20px;
        cursor: pointer;
        border-radius: 50px;
        border: transparent;
        font-size: small;
        margin-left: 3%;
    }
    .h6{
        font-size: small;
    }
}