.invalid{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 40%;
    left: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    width: 20%;
    padding: 1%;
    color: white;
    border-radius: 3px;
}

.invalid button{
    border: transparent;
    border-radius: 3px;
    background-color: red;
    color: white;
    padding: 3%;
    cursor: pointer;
}

@media (min-width: 280px) and (max-width: 350px){
    .invalid{
        width: 60%;
        padding: 1%;
        left: 30%;
    }
}

@media (min-width: 350px) and (max-width: 500px){
    .invalid{
        width:50%;
        left: 35%;
    }
}

@media (min-width: 500px) and (max-width: 740px) {
    .invalid{
        width: 40%;
        left: 30%;
    }
}