.ads{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1; /* Bring the card above the carousel controls */
    position: relative;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;
    padding: 2%;
}

.titleposter{
    width: 70%;
}

.poster{
    width:60%;
    height: 60vh;
}

.details img{
    width: 20%;
    margin-right: 5%;
}

.details{
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.s{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.details span{
    color: red;
    display: inline-block;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.p , .t{
    padding: 7px 25px;
    cursor: pointer;
    border-radius: 50px;
    border: transparent;
}

.p{
    background-color: red;
    color: white;
}

@media (min-width: 280px) and (max-width: 340px){
    .poster{
        height: 20vh;
        width: 60%;
    }

    .titleposter{
        width: 50%;
    }
    .p , .t{
    padding: 4px ;
    font-size: xx-small;
    cursor: pointer;
    }
    .s{
        font-size: x-small;
    }
    .str{
        font-size: x-small;
    }
}